<div id="login_container">
    <form [formGroup]="sign_up_form" (ngSubmit)="handle_sign_up()">
        <div>
            <label class="label">{{ 'label.email' | translate }}*</label>
        </div>
        <div>
            <input type="email" class="form_control_input" formControlName="email" autocomplete>
        </div>
        <div class="form_control_error">{{ _form_error_handler.handle_form_error(sign_up_form_controls.email) | async }}
        </div>
        <div class="mt_2">
            <label class="label">{{ 'label.password' | translate }}*</label>
        </div>
        <div>
            <input type="password" class="form_control_input" formControlName="password">
        </div>
        <div class="form_control_error">{{ _form_error_handler.handle_form_error(sign_up_form_controls.password) | async
            }}
        </div>
        <div class="mt_2">
            <label for="confirm_password">{{ 'label.confirm_password' | translate }}*</label>
        </div>
        <div>
            <input type="password" id="confirm_password" class="form_control_input" formControlName="confirm_password">
        </div>
        <div class="form_control_error">{{ _form_error_handler.handle_form_error(sign_up_form_controls.confirm_password)
            | async}}</div>
        <button type="submit" class="btn_success mt_2">{{ 'button.sign_up' | translate }}</button>
    </form>
</div>