<div id="login_container">
    <form [formGroup]="login_form" (submit)="handle_login()">
        <div>
            <label for="email_id">{{ 'label.email' | translate }}*</label>
        </div>
        <div>
            <input type="email" class="form_control_input" id="email_id" formControlName="email">
        </div>
        <div class="form_control_error">{{ _form_error_handler.handle_form_error(login_form_controls.email) | async }}</div>
    
        <div class="mt_2">
            <label for="password">{{ 'label.password' | translate }}*</label>
        </div>
        <div>
            <input type="password" id="password" class="form_control_input" formControlName="password">
        </div>
        <div class="form_control_error">{{ _form_error_handler.handle_form_error(login_form_controls.password) | async}}</div>
        <button type="submit" class="btn_success mt_2">{{ 'button.login' | translate}}</button>

        <button class="btn_success mt_4"><a routerLink="/guest/signup" class="a_no_underline"> {{ 'button.sign_up' | translate }}</a></button>
    </form>
</div>