<div id="post_container">
    <div id="post_list">
        <div>
            <p class="component_title">{{ 'navigation.post' | translate }}</p>
            <button class="btn_success cursor_pointer" routerLink="/logged_in/post/add">{{ 'button.create_post' | translate }}</button>
        </div>
        <div class="post mt_3" *ngFor="let post of post_list$ | async; let i = index; let is_first = first;">
            <div>
                <p class="post_title"> {{ post.title }} </p>
                <div>
                    <app-edit-svg [attr.title]="'tooltip.edit_post' | translate " class="cursor_pointer"></app-edit-svg>
                    <app-delete-svg [attr.title]="'tooltip.delete_post' | translate "
                        (click)="handle_delete_post(post.id)" class="ml_2 cursor_pointer">
                    </app-delete-svg>
                </div>
            </div>
            <div>
                <p class="mt_1 post_description">{{ post.description }}</p>
            </div>
        </div>
    </div>
    <div id="post_change">
        <router-outlet></router-outlet>
    </div>
</div>