#navigation_container {
    display: flex;
    flex-direction: column;
    width: $left_navigation_width;
    height: 100%;
    overflow: auto;
    position: relative;
    align-items: center;
    box-shadow: 0 4px 20px 1px #0000000f, 0 1px 4px #00000014;
    padding-top: $margin-top;
}

.navigation {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: $colour-00000080;
    text-decoration: none;
    font-size: $font_16;
    font-weight: $font_weight_700;

    &:hover {
        background-color: $colour-a9a9a9;
    }
}

.active_link {
    background-color: $colour-a9a9a9;
}