<form [formGroup]="edit_form">
    <div class="mt-2">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
        <div class="text-left">
            {{ _form_error_handler.handle_form_error(edit_form_control.title) | async }}
        </div>
    </div>
    <div class="mt-2">
        <label for="description">Description</label> <textarea id="description" cols="30" rows="10" class="form-control"
            formControlName="description"></textarea>
        <div class="text-left">
            {{ _form_error_handler.handle_form_error(edit_form_control.description) | async }}
        </div>
    </div>
    <div class="mt-2">
        <button class="btn_success" (click)="handle_edit_post()">Edit Post</button>
    </div>
</form>